 /* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.ndtvimg.com/i/2015-08/aiims_650x400_51439114354.jpg');
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

header h1 {
    margin: 0;
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* About section styles */
.about-section {
    padding: 80px 0;
    text-align: center;
    position: relative; /* Make sure the overlay is positioned relative to this container */
}
nav ul li a:hover {
    color: #14c43a;
  }

 

.about-section {
    padding: 50px 0;
    background-color: rgba(162, 181, 183, 0.8); /* Adjust the transparency as needed */
    padding: 20px; /* Adjust padding as needed */
}
.about-section p {
    color: #fff; /* Set text color to white */
    font-size: 18px;
    line-height: 1.6;
    margin: 20px; /* Added margin around the paragraph */
    text-align: justify;
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fffbfb;
    background-color:orange(0, 0, 0, 0.5);
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0px;
    text-align: justify;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.small-image {
    width: 1.6em; /* Adjust the width to match the size of the heading */
    height: auto;
     /* Optional: Add some margin to separate the logo from the text */
  }

  .founder-section {
    margin-top: 50px; /* Adjust spacing between the main content and founder section */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder-section img {
    width: 200px; /* Adjust the image size as needed */
    border-radius: 50%; /* Make the image round */
    margin-bottom: 20px; /* Add spacing between image and text */
}

.founder-section h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.founder-section p {
    color: #fff;
    font-size: 16px;
    text-align: center;
}


  

  
  