 /* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url(https://uptownshop.pk/wp-content/uploads/2023/09/istockphoto-1365544413-640x640-1.jpg);
    background-size: cover;
    
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
    padding: 10px 20px; /* Adjusted padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    color: #131313;
    margin-left: 20px; /* Adjust margin-left as needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px; /* Adjust margin-left as needed */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Contact Section Styles */
.contact-section {
    background-color: rgba(228, 236, 236, 0.8); /* Adjust the transparency as needed */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 70px; /* Increased margin-bottom */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.contact-section h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #053b75;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Increased padding for better spacing */
    z-index: 999; /* Ensure footer is on top */
}
.small-image {
    width: 1.6em; /* Adjust the width to match the size of the heading */
    height: auto;
     /* Optional: Add some margin to separate the logo from the text */
  }
