 /* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('hostel\ photo.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
nav ul li a:hover {
  color: #0db92d;
}


header h1 {
  margin: 0;
  color: black;
}
/* Move login and sign up links to the right */
nav ul li:nth-last-child(1),
nav ul li:nth-last-child(2) {
  float: right;
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration:none;
  color: #312d2d;
}

/* Hero section styles */
.hero {
  text-align: center;
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

/* Footer styles */
footer {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.small-image {
  width: 1.6em; /* Adjust the width to match the size of the heading */
  height: auto;
   /* Optional: Add some margin to separate the logo from the text */
}


title{
  color: black;
}
 