/* Reset default browser styles */
body, h1, h2, p, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(https://c8.alamy.com/comp/GX1GWK/safety-concept-login-on-digital-background-GX1GWK.jpg);
    background-size: cover;
    background-position: center;
}

nav ul li:nth-last-child(1),
nav ul li:nth-last-child(2) {
  float: right;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

header .container h1 {
    color: #080808;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.login-form {
        background-color: rgba(46, 68, 154, 0.374); /* Transparent background */
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 400px;
        margin: 20px auto;
    }

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #04274b;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

footer .container {
    text-align: center;
}

.small-image {
    width: 1.6em; /* Adjust the width to match the size of the heading */
    height: auto;
     /* Optional: Add some margin to separate the logo from the text */
  }
  nav ul li a:hover {
    color: #14c43a;
  }
  /* Facilities Section Styles */
  