# Ignore local dependencies (let Docker install them)
node_modules

# Ignore git history and configuration
.git
.gitignore
.gitattributes

# Ignore Docker build files
Dockerfile
.dockerignore

# Ignore environment variables (pass these at runtime instead)
.env

# Ignore logs
npm-debug.log
*.log